/* Center all divs */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Style for the intro section */
#intro {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Style for the diagram section */
#diagram {
  padding: 10px;
}

/* Style for the process section */
#process {
  background-color: #f1f1f1;
  padding: 20px;
}

#codes {
  background-color: #545454;
  ;
  padding: 20px;
}

#diagram_img {
  width: 100%;
}

#code_img {
  width: 80%;
}

.process_img {
  width: 80%;
}

p {
  font-size: 21px;
}